* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #7D7987;
}

.title {
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}

.title, .menu__list-link:hover, .header__title, .header__btn, .services__menu-title, .btn, .quote__name-title, .blog__item-title  {
    font-weight: 700;
}

.container {
    max-width: 1250px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    /* background-image: url(../img/header__bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover; */
    
    margin-bottom: 190px;
}

.header__logo {

}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    align-items: center;
}

.header__inner a {
    color: #7D7987;
    font-weight: 400;
}

.menu {
    margin-right: 30px;
}

.menu__btn {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
}

.menu__btn::before {
    top: 0;
}

.menu__btn::after {
    bottom: 0;
}

.menu__btn::after, .menu__btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    left: 0;
}

.menu__btn span {
    position: absolute;
    top: 14px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000000;
    left: 0;
}

.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 40px;
}

.menu__list-link:hover {
    color: #1F1534;
    padding-left: 1px;
}

.header__text {
    max-width: 445px;
    margin-right: 109px;
}

.header__title {
    color: #000000;
    padding-top: 186px;
    font-size: 48px;
}

.header__element {
    position: absolute;
    left: 0;
    top: 150px;
}

.header__top p {
    margin: 25px 0 65px 0;
    font-size: 21px;
    line-height: 32px;
}

.header__top {
    display: flex;
}

.header__btn {
    padding: 20px 40px;
    background-color: #458FF6;
    border-radius: 55px;
    color: #fff;
}

.header__img {
    padding-top: 84px;
}

.services {
    margin-bottom: 220px;
    text-align: center;
}

.services__bg {
    z-index: -1;
    position: absolute;
    left: -220px;    
}

.services__element {
    z-index: -1;
    position: absolute;
    right: 80px;
    top: 1510px;
}

.services__inner {
    margin-bottom: 86px;
}

.services__text p {
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 80px;
}

.services__title::after {
    margin: 26px auto 33px auto;
    display: block;
    content: "";
    width: 56px;
    height: 2px;
    background-color: #000000;
}

.services__item {
    text-align: justify;
    background-color: #FFFFFF;
    padding: 46px 46px 46px 36px;
    max-width: 350px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.services__item p {
    line-height: 28px;
}

.services__img {
    width: 95px;
    height: 92px;
}

.services__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 37px ;
}

.services__menu-title {
    padding-top: 24px;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}
.btn {
    display: inline-block;
    padding: 16px 51px;
    color: #458FF6;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
}

.features {
    margin-bottom: 230px; 
}

.features__inner {
    display: flex;
    align-items: center; 
}


.features__text {
    margin-left: 137px;
    max-width: 485px;
}

.features__text p {
    margin-bottom: 53px;
    line-height: 30px;
}

.features__title::after {
    margin: 26px 0 33px 0;
    display: block;
    content: "";
    width: 56px;
    height: 2px;
    background-color: #000000;
}

.download {
    margin-bottom: 266px;
}

.download__element {
    position: absolute;
    right: 0;
    top: 2840px;
}

.download__inner {
    display: flex;
    align-items: center;
}

.download__text {
    margin-right: 70px;
    max-width: 420px;
    max-height: 425px;
}

.download__text p {
    margin-bottom: 53px;
    line-height: 30px;
}

.download__arrow {
    margin-left: 14px;
}

.quote {
    margin-bottom: 222px;
}

.quote__element {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 3970px;
}

.quote__inner {
    margin: 0 auto;
    color: #fff;
    /* max-width: 1120px; */
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    margin-bottom: 42px;
    padding-bottom: 79px;
}

.quote__top-title {
    color: #fff;
    padding-top: 64px;
    text-align: center;
}

.quote__top-title::after {
    margin: 25px auto 66px auto;
    display: block;
    content: "";
    width: 56px;
    height: 2px;
    background-color: #fff;
}

.quote__text {
    display: flex;
    align-items: center;
    padding: 0 0 0 79px;
}

.quote__name {
    padding-left: 29px;
}

.quote__name-title {
    font-size: 22px;
}

.quote__name p {
    font-weight: 400;
}

.quote__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.quote__main-text {
    font-weight: 400;
    margin-right: 118px;
    margin-left: 30px;
}

.slick__btn-prev {
    /* position: absolute; */
    top: 103%;
    left: 40%;
    /* right: 35%; */
    margin: 0 auto;
}

.slick__btn-next {
    /* position: absolute; */
    top: 103%;
    right: 41%;
    /* right: 35%; */
    margin: 0 auto;
}

.slick-next:before {
    display: none;
}

.slick-prev::before {
    display: none;
}

.blog {
    text-align: center;
    margin-bottom: 200px;
}

.blog__element {
    position: absolute;
    left: 60px;
    z-index: -1;
    top: 4500px;
}

.blog__frame {
    position: absolute;
    right: 0;
    z-index: -1;
}

.blog__inner {
    max-width: 1120px;
    margin: 0 auto 72px auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 0 34px;
}

.blog__title {
    text-align: center;
}

.blog__title::after {
    margin: 28px auto 72px auto;
    display: block;
    content: "";
    width: 56px;
    height: 2px;
    background-color: #000;
}

.blog__item {
    position: relative;
    text-align: justify;
    max-width: 350px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.blog__img {
    width: 100%;
}

.blog__item a {
    color: #4089ED;
}

.blog__item-text {
    padding: 24px 51px 35px 33px;
}

.blog__item-text p {
    font-size: 16px;
    line-height: 28px;
    padding-top: 12px;  
    margin-bottom: 25px;
}

.blog__item-title {
    font-size: 21px;
    line-height: 32px;
    color: #000000;
}

.blog__item-btn {
    display: inline-block;
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
}

.footer {
    color: #FFFFFF;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer__inner {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 118px 0 110px 0;
}

.footer a {
    color: #FFFFFF;
}

.footer__logo {
    max-width: 391px;
}

.footer__logo-img {
    width: 100%;
    margin-bottom: 22px;
}

.footer__logo p {
    padding: 10px 0 0 0;
    line-height: 28px;
}

.footer__menu-item {
    margin: 20px 0 20px 0;
}

@media (max-width: 1170px) {
    .blog__inner {
        margin: 0 auto 72px auto;
        grid-template-columns: repeat(3 ,1fr);
        grid-gap: 0 14px;
    }
}


@media (max-width: 1080px) {
    .header__img {
        width: 50%;
        height: 100%;
        padding-top: 84px;
        display: none;
    }
    .services__menu {
        /* padding: calc(20px + (50 - 20) * (100vw - 320px) / (1200 - 320)); */
    }
    .features__text {
        margin-left: 20px;
    }

}
@media (max-width: 945px) {
    .blog__item-title {
        font-size: 16px;
        line-height: 26px;
    }
    .blog__item-text {
        padding: 14px 21px 25px 13px;
    }
    .download__element {
        display: none;
    }
    .download__bg {
        /* display: none; */
        width: 65%;
    }
    .services__menu {
        /* grid-template-columns: repeat(auto-fit); */
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(auto);
    }
    .features__text {
        margin-left: 20px;
    }
    .features__bg {
        /* display: none; */
        width: 65%;
    }
    .services {
        margin-bottom: 100px;
    }
}    

@media (max-width: 800px) {
    
    .quote {
        margin-bottom: 120px;
    }
    .slick-prev, .slick-next {
        display: none !important;
    }    
    .download {
        margin-bottom: 120px;
    }
    .slick-dots {
        display: none !important;
        width: 50%;
    }
    .footer__inner {
        grid-template-columns: repeat(1, 1fr);
        padding: 50px 0 40px 0;
    }
    .download__bg {
        display: none;
    }    
    .download__text {
        margin: 0;
        /* max-width: 1000px; */
    }
    .features__text {
        margin-left: 0;
    }
    .features__bg {
        display: none;
    }    
    .features {
        margin-bottom: 100px;
    }
    .header {
        margin-bottom: 100px;
    }
    .header__logo {
        margin-bottom: 20px;
    }
    .header__inner {
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .blog {
        margin-bottom: 120px;
    }
    
}

@media (max-width: 650px) {
    .quote__top-title::after {
        margin: 25px auto 30px auto;
    }
    .quote__content {
        display: block;
        text-align: center;
        padding: 0 10px;
    }
    .quote__main-text {
        font-weight: 400;
        margin: 0;
    }
    .quote__text {
        padding: 0;
        justify-content: center;
        margin-bottom: 20px;
    }
    .header__logo {
        z-index: 20;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 0;
    }
    .menu__btn {
        z-index: 20;
        display: block;
        position: absolute;
        right: 10px;
        top: 33px;
    }
    .menu__list.menu__list-active {
        transform: translateY(0%);
        transition: all .4s;
    }

    .download {
        margin-bottom: 200px;
    }
    .menu__list {
        margin-top: 40px;
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #fff;
        transform: translateY(-150%);
        transition: all .4s;
    }
    .menu__list-item {
        display: block;
        margin-bottom: 20px;
    }
    .menu__list-link {
        /* padding: 20px 0; */
    }
    .header {
        background: #fff;
    }
    .header__title {
        padding-top: 70px;
    }
    .header__element {
        display: none;
    }
    .services__menu {
        /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
        /* grid-template-columns: repeat(2,1fr); */
        grid-auto-rows: minmax(auto);
    }
    .services__item p {
        line-height: 20px;
    }
    .services__menu-title {
        padding-top: 10px;
        font-size: 20px;
        line-height: 40px;
    }
    .services__bg {
        display: none;
    }
    .services__menu-title {
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width: 540px) {
    .services__inner {
        margin-bottom: 70px;
    }
    .services__menu-title {
        font-size: 18px;
        line-height: 30px;
    }
    .services__menu {
        grid-gap: 15px 15px;
    }
    .services__item {
        padding: 36px 36px 36px 26px;
    }
    .services__img {
        width: 67px;
        height: 80px;
    }
    .services__element {
        display: none;
    }
}



@media (max-width: 470px) {
    .blog__item {
        max-width: 440px;
        margin-bottom: 40px;
    }
    .blog__inner {
        
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 0 24px;
    }
    .header__title {
        /* color: #000000;
        padding-top: 186px; */
        font-size: 40px;
    }    
    .header__logo {
        margin-bottom: 0;
    }
    .header__top p {
        margin: 25px 0 45px 0;
    }    
    .services__img {
        
    }
    .services__item {
        text-align: center;
    }
    .services__menu {
        
        
        grid-gap: 10px 20px;
    }
    .services__item {
        padding: 26px 26px 26px 16px;
    }

@media (max-width: 400px) {
    .download__arrow {
        margin-left: 0px;
    }
    .services__menu {
        grid-template-columns: 1fr;
    }

}    